
<% if post.comments.size > 0%>
    <div class="comment-container mt-5">
        <p><b>Comentários:</b></p>
        <% post.comments.each do |comment|%>

            <div class="card mb-1">
                <div class="card-body p-2">

                    <% if comment.author.nil?%>
                        <p class="card-text" style="font-size:16px"><b>Anônimo:</b> <%=comment.body%></p>
                    <%else%>
                        <p class="card-text" style="font-size:16px"><b><%=comment.author%></b>: <%=comment.body%></p>
                    <%end%>

                    <% if user_signed_in? and current_user.name==comment.author%>
                        <%= link_to "Excluir", post_comment_path(comment.post, comment), 
                            class: "btn btn-danger float-right p-1",
                            data: { 
                                turbo_method: :delete, 
                                turbo_confirm: "Tem certeza que deseja deletar esse Comentário?" 
                            } 
                        %>
                    <% end %>
                    
                </div>
            </div>
        <%end%>
    </div>

<% end %>

